@import "../abstracts/variables";

:root {
  --color-toast-success-bg: #{$color-success};
  --color-toast-error-bg: #{$color-error};
  --color-toast-info-bg: #{$color-primary};
  --color-toast-warning-bg: #{$color-warning};
  --color-toast-text: #{$color-toast-text};
  --color-toast-content-bg: #{$color-toast-content-bg};
  --color-toast-close-color: #{$color-toast-close-color};
  --color-toast-close-color-hover: #{$color-toast-close-color-hover};
  --color-toast-close-bg: #{$color-toast-close-bg};
  --color-toast-close-hover: #{$color-toast-close-hover};
}

// Toast panel position
.c-toast-pannel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  pointer-events: none;
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 9999;
}

// Toast container
.c-toast {
  align-items: center;
  animation: toast-in 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  background: #fff;
  border-radius: 8px;
  box-shadow:
    rgb(0 0 0 / 19%) 0 10px 20px,
    rgb(0 0 0 / 23%) 0 6px 6px;
  color: var(--color-toast-text);
  display: flex;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0;
  pointer-events: auto;
  position: relative;
  width: 350px;
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Toast types
.c-toast--success {
  background-color: var(--color-toast-success-bg);
  color: var(--color-toast-text);
}

.c-toast--error {
  background-color: var(--color-toast-error-bg);
  color: var(--color-toast-text);
}

.c-toast--info {
  background-color: var(--color-toast-info-bg);
  color: var(--color-toast-text);
}

.c-toast--warning {
  background-color: var(--color-toast-warning-bg);
  color: var(--color-toast-text);
}

// Toast positions (if needed)
.c-toast--top {
  align-self: flex-start;
}

.c-toast--bottom {
  align-self: flex-end;
}

.c-toast--left {
  margin-left: 0;
  margin-right: auto;
}

.c-toast--right {
  margin-left: auto;
  margin-right: 0;
}

// Toast content
.c-toast__content {
  background-color: var(--color-toast-content-bg);
  border-radius: 0.5rem;
  flex: 1;
  margin: 0;
  padding: 0.5rem;
}

// Close button

.c-toast__content--close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.c-toast__content--close button {
  align-items: center;
  background: var(--color-toast-close-bg);
  border: none;
  border-radius: 50%;
  box-shadow: none;
  color: var(--color-toast-close-color);
  cursor: pointer;
  display: flex;
  margin: 3px;
  padding: 0;
  transition: background 0.2s;
}

.c-toast__content--close button:hover {
  background: var(--color-toast-close-hover);
  box-shadow:
    rgb(0 0 0 / 32%) 0 3px 6px,
    rgb(0 0 0 / 46%) 0 3px 6px;
  color: var(--color-toast-close-color-hover);
}

// Responsive
@media (width <= 600px) {
  .c-toast-pannel {
    left: 1rem;
    right: 1rem;
    top: 1rem;
  }

  .c-toast {
    font-size: 0.95rem;
    max-width: 100%;
    min-width: 180px;
    padding: 0;
  }
}
