@import "../abstracts/variables";

/* Theme uses CSS variables to avoid specificity battles */
:root[data-theme="dark"] {
  --color-gray-900: #{$color-dark-gray-900};
  --color-white: #{$color-dark-white};

  background: var(--color-white);
  color: var(--color-gray-900);
}
