@import "../abstracts/variables";

.c-button-demo {
  display: grid;
  gap: 1rem;

  &__title {
    color: var(--color-title, #{$color-title});
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 0;
  }

  &__label {
    font-weight: 500;
    margin-right: 0.5rem;
  }

  &--dark {
    background: #{$color-dark-bg};
    color: #{$color-dark-text};
  }
}
