@import "../abstracts/variables";

.l-navigation {
  background: var(--color-navigation-bg, #{$color-navigation-bg});
  box-shadow: #{$color-navigation-shadow};
  padding: 1rem 0;

  &__logo {
    margin-bottom: 1rem;
  }

  &__menu {
    display: flex;
    gap: 1rem;
    justify-content: center;

    a {
      color: var(--color-navigation-link, #{$color-navigation-link});
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
