@import "../abstracts/variables";

.l-sidebar {
  background: var(--color-sidebar-bg, #{$color-sidebar-bg});
  box-shadow: #{$color-sidebar-shadow};
  padding: 1rem 0;

  &__logo {
    margin-bottom: 1rem;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      color: var(--color-sidebar-link, #{$color-sidebar-link});
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
